*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  
}

header{
    height: 808px;
    width: 1600px;
    background-image: url("../images/banner/banner1.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 216px 230px 166px 845px;
    text-align: right;
}

header .banner-text h1{
    font-size: 65px;
    font-weight: bold;
    color: #151414;
    margin-bottom: 24px;
}

header .banner-text p{
    font-size: 16px;
    color: #444343;
    line-height: 26px;
    margin-bottom: 32px;
}

header .banner-text button{
    padding: 20px 25px;
    border: none;
    background-color: #F15B22;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
}