*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  
}

header{
    height: 808px;
    width: 1600px;
    background-image: url("../images/banner/banner1.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 216px 230px 166px 845px;
    text-align: right;
}

header .banner-text h1{
    font-size: 65px;
    font-weight: bold;
    color: #151414;
    margin-bottom: 24px;
}

header .banner-text p{
    font-size: 16px;
    color: #444343;
    line-height: 26px;
    margin-bottom: 32px;
}

header .banner-text button{
    padding: 20px 25px;
    border: none;
    background-color: #F15B22;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
}

#mid-section{
    margin-top: 131px;
    display: flex;
}

.mid-section-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    
}

#mid-section .image-container{
    position: relative;
}

.orange-background{
    height: 530px;
    width: 530px;
    border-radius: 50%;
    background-color: #efbfac9a;
    position: absolute;
    z-index: 1;
    left: 20px;
    top: 195px;
}

.person-image{
    position: absolute;
    z-index: 2;
}
.failure-content{
    margin-top: 240px;
    margin-left: 657px;

}

.failure-content h2{
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
}

.failure-content p, ul{
    font-size: 16px;
    color: #444343;
    line-height: 26px;
    margin-bottom: 16px;
}

.failure-content ul{
    list-style: none;
}

#my-plans{
    margin-top: 215px;
}

.my-plans-container{
    width: 71%;
    max-width: 1141px;
    margin: 0 auto;
}

.my-plans-container h1{
    text-align: center;
    font-size: 40px;
    color: #151414;
    margin-bottom: 56px;
}

.plans-card{
    display: flex;
    gap: 90px;
}

.card-info{
    text-align: center;
}

.card-info img{
    margin-bottom: 24px;
}

.card-info h2{
    font-size: 24px;
    color: #151414;
    margin-bottom: 16px;
}

.card-info p{
    font-size: 18px;
    color: #737272;
}

#gradient-banner{
    margin-top: 130px;
}

#gradient-banner .gradient-banner-container{
    width: 71%;
    max-width: 1140px;
    height: 300px;
    margin: 0 auto;
    
    background: url("../images/gradient2.png"), url("../images/watch.png");
    border-radius: 8px;
}

.gradient-banner-container .gradient-content{
    padding-top: 59px;
    padding-left: 64px;
    
    
}

.gradient-content h2{
    color: #FFFFFF;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
}

.white-btn{
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 20px 36px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: #F15B22;
}

footer{
    margin-top: 130px;
    background-color: #151414;
}

footer .footer-container{
    width: 71%;
    max-width: 1141px;
    margin: 0 auto;
    display: flex;
    gap: 331px;
    padding-top: 130px;
}

.footer-container .future{
    max-width: 485px;
}

.footer-container .future h2{
    font-size: 45px;
    font-weight: bold;
    color: #F8F8F8;
    margin-bottom: 16px;
}

.footer-container .future p{
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-container .future .icons{
    display: flex;
    gap: 17px;
    margin-bottom: 130px;
}

.footer-container .subscribe {
    width: 325px;
}

.footer-container .subscribe h3{
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 31px;
}

.subscribe input{
    font-size: 18px;
    color: #ffffff;
    padding: 22px 22px;
    background-color: #151414;
    border-radius: 8px;
    border: 1px solid white;
    margin-bottom: 16px;
}