*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  
}

header{
    height: 808px;
    width: 1600px;
    background-image: url("../images/banner/banner1.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 216px 230px 166px 845px;
    text-align: right;
}

header .banner-text h1{
    font-size: 65px;
    font-weight: bold;
    color: #151414;
    margin-bottom: 24px;
}

header .banner-text p{
    font-size: 16px;
    color: #444343;
    line-height: 26px;
    margin-bottom: 32px;
}

header .banner-text button{
    padding: 20px 25px;
    border: none;
    background-color: #F15B22;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
}

#mid-section{
    margin-top: 131px;
    display: flex;
}

.mid-section-container{
    width: 67%;
    max-width: 1072px;
    margin: 0 auto;
    
}

#mid-section .image-container{
    position: relative;
}

.orange-background{
    height: 530px;
    width: 530px;
    border-radius: 50%;
    background-color: #efbfac9a;
    position: absolute;
    z-index: 1;
    left: 20px;
    top: 195px;
}

.person-image{
    position: absolute;
    z-index: 2;
}
.failure-content{
    margin-top: 240px;
    margin-left: 657px;

}

.failure-content h2{
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
}

.failure-content p, ul{
    font-size: 16px;
    color: #444343;
    line-height: 26px;
    margin-bottom: 16px;
}

.failure-content ul{
    list-style: none;
}

#my-plans{
    margin-top: 215px;
}

.my-plans-container{
    width: 71%;
    max-width: 1141px;
    margin: 0 auto;
}

.my-plans-container h1{
    text-align: center;
    font-size: 40px;
    color: #151414;
    margin-bottom: 56px;
}

.plans-card{
    display: flex;
    gap: 90px;
}

.card-info{
    text-align: center;
}

.card-info img{
    margin-bottom: 24px;
}

.card-info h2{
    font-size: 24px;
    color: #151414;
    margin-bottom: 16px;
}

.card-info p{
    font-size: 18px;
    color: #737272;
}